* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

header{
background-color: rgb(68, 36, 18);
padding: 20px;
margin-bottom: 60px;
}

a[href^="mailto:"] {
color: orange; 
text-decoration: none;
}
header {
  display: grid;
  grid-template-columns: 1fr auto;
}
.nombre{
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
  color: #ffffff;
}

.nombre::after{
  content: "";
  position: absolute;
  bottom: -15px; 
  left: 0;
  width: 120%; 
  height: 1px; 
  background-color: white; 
}

p{
  padding: 5px;
  margin-bottom: 10px;
}

.bio {
color: #ffffff;
font-family: Arial, Helvetica, sans-serif;
margin-top: 20px;
width: 67%;
font-size: 16px;
}
.bio3{
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  width: 67%;
  font-size: 16px;
}

.bio2{
color: #ffffff;
font-family: 'Times New Roman', Times, serif;
width: 90%;
font-size: 20px;
font-family: 'Times New Roman', Times, serif;
text-align: justify;
}

#objective {
  font-style: italic;
}

.tel{
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
font-style: normal;
}
.pic {
  width: 200px; 
  height: 290px; 
  overflow: hidden; 
  position: relative;
  margin-top: 30px;
}

.pic img {
  width: 90%;
  height: 90%;
  object-fit: cover; 
  display: block; 
  border: 5px solid white;
  border-radius: 10%; 

}

body {
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
}

span{
  font-style: italic;
  font-size: smaller;
  font-weight: lighter;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  font-weight: bold;
  
}
dl {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 1rem;
}

dt{
  color: #a36d2e;
  font-style: italic;
  font-weight: bold;
  font-size: larger;
  text-align: end;
  width: 150px;
}

dd{
  margin-bottom: 10px;
  margin-left: 10px;
  border-left: 3px solid rgb(255, 156, 42);
  padding-left: 10px;
}

ul{
  margin-bottom: 30px;
  margin-left: 20px;
}

#pic {
  width: 200px;
  height: 250px;
  border: 1px solid #999;
  padding: 1rem;
}

h2{
  color: #a36d2e;
  margin-bottom: 10px;
}

.formacion{
  margin-bottom: 10px;
  
}

@media (max-width: 768px) {
  .name{
  display: block;
  text-align: center;
  }
  .bio{display: block;}
  .bio3{display: none;}
  .bio2{display: none;}
.pic {
  width: 100%;
  height: auto;
    margin: 10px auto;
    margin-left: 10px;
  }
  dl {
    display: block;
  }
  dt {
    text-align: left;
    margin-top: 10px;
  }

  footer {
    text-align: center;
    padding: 10px;
  }
}
/* Estilos del menú */
.menu-icon {
font-size: 30px;
cursor: pointer;
padding: 10px;
background-color: #a36d2e;
color: white;
text-align: center;
}

/* Estilos del menú */
.menu {
position: relative;
width: 100%;
margin-top: -50px;
background-color: #c77b34; 
}
/* Lista del menú */
#menu-list {
list-style: none;
background-color: #000;
padding: 1px;
position: absolute;
top: 50px;
left: -20px;
width: 100%;
display: none;
z-index: 10; 
}

#menu-list.show {
display: block;
}

/* Estilos de los enlaces */
#menu-list li {
padding: 10px;
border-bottom: 1px solid #444;
}

#menu-list a {
text-decoration: none;
color: white;
display: block;
}

#menu-list a:hover {
background-color: #444;
}
/* Media query para ocultar el menú en pantallas grandes */
@media (min-width: 769px) {
.menu {
display: none;
}
}






